{% extends "base.html" %}
{% load i18n %}

{% block title %}
    {% trans "Delete user" %}
{% endblock %}

{% block content %}
<section id="form">
    <div class="container">
        <div class="row">
            <h1>{% trans "Delete user" %} {{ object.name }}</h1><br/>
            <div class="center">
            <p>{% trans "Are you sure you want to delete this user?" %}</p>
            <br/>
            <form class="update-form" name="update-form" method="POST" action="">
                {% csrf_token %}
                <button name="cancel" onclick="javascript:window.location='{% url 'BankUserListView' %}'">{% trans "Cancel" %}</button>
                <button type="submit" name="submit">{% trans "Delete" %}</button>
            </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}