{% extends "base.html" %}
{% load i18n %}

{% block title %}
    {% trans "Delete user" %}
{% endblock %}

{% block content %}
<section id="form">
    <div class="container">
        <div class="row">
            <h1>{% trans "Delete user" %} {{ object.first_name }}</h1><br/>
            <div class="center">
            {% include "bank_user/generic_info.html" %}
            <br/>
            <form class="update-form" name="update-form" method="POST" action="">
                {% csrf_token %}
                <button type="button" name="cancel" class="btn btn-md" onclick="javascript:window.location='{% url 'BankUserListView' %}'">{% trans "Cancel" %}</button>
                <button type="submit" class="btn btn-primary btn-md pull-right" name="submit">{% trans "Delete" %}</button>
            </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}