{% extends "base.html" %}
{% load i18n %}

{% block title %}
    {% trans "User info" %}
{% endblock %}

{% block content %}
<section id="content">
    <div class="container">
        <div class="row">
            <h1>{% trans "User info" %}</h1><br/>
            <div class="center">
                {% include "bank_user/generic_info.html" %}
                <button type="button" class="btn btn-primary btn-md pull-right" onclick="javascript:window.location='{% url 'BankUserListView' %}'" name="back">{% trans "Back" %}</button>
            </div>
        </div>
    </div>
</section>
{% endblock %}